# Pointing Technique Experiment

This experiment was conducted to evaluate a pointing technique which should help the user select objects. Therefore, participants had to perform two sets of tasks in which they were presented a number of targets where one of them was highlighted in a green color.The participant was asked to try to click as fast as possible on the highlighted target. 
One time they had to perform the tasks with a standard mouse pointer and the other time with a new pointing technique, where the closest target to the cursor was highlighted in a red color and could be directly selected by the participant - without moving the cursor to the position of the highlighted circle. This was visually presented to the user in form of a blue bubble.
Participant 1 and 3 had to perform the new pointing technique first and afterwards the standard pointing technique. Participants 2 and 4 performed the tasks the other way round, so they started with the standard technique and than the new technique.
The experiment was set up with the follwing variables and conditions:

Independent variables: 
type of pointing technique (new pointing technique or standard), 
distances between starting position and position of targets (125, 200, 275, 350), 
sizes of targets (16, 32),
participants
    
Dependent variables: 
reaction time in microseconds, error rate
    
Control variables: 
starting position (always the middle of the window), 
number of distraction circles (50)

Each set of tasks consisted of 16 tasks with varying values of the independent variables distances and sizes. The variations were generated in a pseudo-randomized order, so that each distance condition was generated 4 times and each size of the target was shown 8 times. Furthermore, it was ensured that each distance was shown exactly 2 times with the smaller targets and 2 times with the larger targets.
The following hypothesis was definded:
The reaction time of the bubble pointing technique is smaller than the reaction time of the standard poiting technqiue.
The error rate of the bubble pointing technique is smaller than the error rate of the standard pointing technique.
4 participants took part in the experiment. They were all between the ages of 23 and 25 and are studying at the University of Regensburg.

# TODO


bubble_cursor vs. non_bubble

size16 vs size32

distances

error_rate



grafiken:
- timeontask (bubble vs non-bubble)
- error (bubble16 vs bubble32 vs non-bubble16 vs non-bubble32)
- timeontask (distance1 vs distance2 vs distance3 vs distance4) (fitts law) 
log(2D / W) D= distanz; W=Größe vs 8conditions
vergleich bubble und nicht bubble

In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
from pylab import *

code which imports the raw data from a CSV file and extracts the relevant data for further processing
(the CSV file should be in the same directory)

In [2]:
data = []
for i in range(1,4):
    data.append(np.genfromtxt('pointing_experiment_result_{}.csv'.format(i), dtype=None, delimiter=',', names=True))
    
data1, data2, data3 = data

In [3]:
df = pd.read_csv('pointing_experiment_results.csv')
df.head()

,timestamp,id,num_task,target_distance,target_size,bubble_pointer,reaction_time,number_of_errors,start_x,start_y,click_x,click_y
0,2017-06-13T18:55:21,0,0,200,32,True,808,0,400,400,205,449
1,2017-06-13T18:55:22,0,1,350,32,True,635,0,400,400,682,237
2,2017-06-13T18:55:23,0,2,275,32,True,771,0,400,400,574,558
3,2017-06-13T18:55:24,0,3,125,16,True,757,0,400,400,503,369
4,2017-06-13T18:55:25,0,4,275,16,True,767,0,400,400,146,310

In [4]:
bubble_cursor = df.loc[df['bubble_pointer'] == True]
standard_cursor = df.loc[df['bubble_pointer'] == False]

In [16]:
df.loc[df['id'] == 1]

,timestamp,id,num_task,target_distance,target_size,bubble_pointer,reaction_time,number_of_errors,start_x,start_y,click_x,click_y
32,2017-06-13T18:58:26,1,0,350,32,False,809,0,400,400,74,521
33,2017-06-13T18:58:27,1,1,125,16,False,1107,0,400,400,428,275
34,2017-06-13T18:58:28,1,2,275,16,False,973,0,400,400,454,128
35,2017-06-13T18:58:30,1,3,275,32,False,900,0,400,400,654,305
36,2017-06-13T18:58:31,1,4,125,32,False,939,0,400,400,505,431
37,2017-06-13T18:58:33,1,5,275,16,False,1172,0,400,400,674,383
38,2017-06-13T18:58:35,1,6,350,16,False,1441,0,400,400,319,748
39,2017-06-13T18:58:36,1,7,200,32,False,1029,0,400,400,230,301
40,2017-06-13T18:58:38,1,8,200,16,False,1287,0,400,400,196,366
41,2017-06-13T18:58:39,1,9,350,32,False,1082,0,400,400,508,70
42,2017-06-13T18:58:43,1,10,200,16,False,3235,3,400,400,285,564
43,2017-06-13T18:58:44,1,11,200,32,False,1019,0,400,400,204,432
44,2017-06-13T18:58:45,1,12,125,32,False,858,0,400,400,401,281
45,2017-06-13T18:58:46,1,13,275,32,False,994,0,400,400,315,659
46,2017-06-13T18:58:49,1,14,350,16,False,1993,1,400,400,290,69
47,2017-06-13T18:58:50,1,15,125,16,False,1237,0,400,400,342,509